<div class="row">
  <div class="col-sm-6 offset-4">

    <button (click)="increment()">Increment</button>
    <div>Current Count: {{ counter | async }}</div>
    <button (click)="decrement()">Decrement</button>

    <button (click)="reset()">Reset Counter</button>
    <button (click)="set(2)">Add +2</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 offset-4">
    <ul>
      <li *ngFor="let contact of contacts">
        {{contact.id}}
        {{contact.name}}
        {{contact.age}}
        {{contact.email}}
      </li>
    </ul>
  </div>
</div>
